@model tp_nt1.Models.Producto

@{
    ViewData["Title"] = "Detalles del producto";
}

<h1>Detalles del producto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVigente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVigente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-danger" asp-action="Index">Volver</a>
</div>
