@model IEnumerable<tp_nt1.Models.Compra>
@{
    ViewData["Title"] = "Compras del Mes";
}

<h1>Compras del Mes</h1>
<h3>Se listan las compras del mes actual, de mayor a menor monto</h3>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }

    </tbody>
</table>
